/* common */

/* import CSS */
@import "header.css";
@import "position.css";

/* default btn  */
.sub_font_title {
  font-size: 1.8vw;
  font-weight: 600;
}
.sub_font_desc {
  font-size: 0.8vw;
  word-break: keep-all;
}

.header .btn-lobby,
.main .content .btn,
.lobby .contents .lobby_btn_wrap .btn,
.search_company-item .btn_wrap .btn,
.modal .btn {
  display: inline-block;
  padding: 12px 24px;
  background: #003994;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(1%, #003994),
    to(#015aaa)
  );
  background: linear-gradient(to right, #003994 1%, #015aaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_color1', endColorstr='$btn_color2',GradientType=1 );
  border-radius: 52px;
  color: #fff;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  font-size: 0;
  vertical-align: middle;
  outline: 0;
}

.header .btn-lobby > span,
.main .content .btn > span,
.lobby .contents .lobby_btn_wrap .btn > span,
.search_company-item .btn_wrap .btn > span,
.modal .btn > span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.9px;
  line-height: 1.7;
}

.header .btn-lobby > span.has_ico,
.main .content .btn > span.has_ico,
.lobby .contents .lobby_btn_wrap .btn > span.has_ico,
.search_company-item .btn_wrap .btn > span.has_ico,
.modal .btn > span.has_ico {
  position: relative;
  padding-right: 14px;
}

.header .btn-lobby > span.has_ico:before,
.main .content .btn > span.has_ico:before,
.lobby .contents .lobby_btn_wrap .btn > span.has_ico:before,
.search_company-item .btn_wrap .btn > span.has_ico:before,
.modal .btn > span.has_ico:before {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7px;
  height: 12px;
  background: url(../img/arrow-right.png) no-repeat 0 50%;
  background-size: auto 12px;
  content: "";
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .header .btn-lobby,
  .main .content .btn,
  .lobby .contents .lobby_btn_wrap .btn,
  .search_company-item .btn_wrap .btn,
  .modal .btn {
    padding: 6px 14px;
  }
  .header .btn-lobby > span,
  .main .content .btn > span,
  .lobby .contents .lobby_btn_wrap .btn > span,
  .search_company-item .btn_wrap .btn > span,
  .modal .btn > span {
    font-size: 14px;
  }
}

.btn_wrap .search_btn {
  position: fixed;
  left: 16px;
  bottom: 20px;
  padding: 12px 24px;
  background: #000;
  border-radius: 52px;
  color: #fff;
  -webkit-box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.3);
  outline: 0;
}

.btn_wrap .search_btn > span {
  position: relative;
  padding-left: 28px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.9px;
  line-height: 1.5;
}

.btn_wrap .search_btn > span:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background: url(../img/ico_gnb_search.png) no-repeat 50% 50%;
  background-size: auto 19px;
  content: "";
}

@media screen and (max-height: 1080px) {
  .btn_wrap .search_btn {
    padding: 7px 14px;
  }
  .btn_wrap .search_btn > span {
    padding-left: 20px;
    font-size: 14px;
  }
  .btn_wrap .search_btn > span:before {
    width: 14px;
    height: 14px;
    background-size: auto 14px;
  }
}

@media screen and (max-width: 1600px) {
  .btn_wrap .search_btn {
    padding: 6px 14px;
  }
  .btn_wrap .search_btn > span {
    padding-left: 20px;
    font-size: 14px;
  }
  .btn_wrap .search_btn > span:before {
    width: 14px;
    height: 14px;
    background-size: auto 14px;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  /* .btn_wrap .search_btn {
    padding: 6px 14px;
  } */
  .btn_wrap .search_btn > span {
    padding-left: 20px;
    font-size: 14px;
  }
  .btn_wrap .search_btn > span:before {
    width: 14px;
    height: 14px;
    background-size: auto 14px;
  }
}

@media screen and (max-width: 690px) {
  .btn_wrap .search_btn {
    left: 10px;
    bottom: 10px;
  }
}

/* base */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

html body,
html button,
html input,
html select,
html table,
html textarea {
  color: #515151;
}

html,
html body {
  width: 100%;
  height: auto;
  background-color: #fff9f3;
  transition: all 0.4s;
  /* overflow-y: hidden; */
}

@media screen and (max-width: 1024px) {
  html,
  html body {
    height: 100%;
  }
}

.scroll_auto,
.scroll_auto body {
  overflow-y: visible !important;
}

/* main common style */
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff9f3;
  z-index: 20;
  clip-path: circle(100% at 50% 0%);
  animation: bgslideout 1.5s 1.5s cubic-bezier(0.72, 0.24, 0.15, 0.99) forwards;
  /* visibility: hidden; */
}

.loading .loading_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  overflow: hidden;
}

.loading .loading_logo img {
  width: 100%;
  transform: translateY(0);
  animation: loading 1s cubic-bezier(0.72, 0.24, 0.15, 0.99) forwards,
    slideout 0.5s 1.5s cubic-bezier(0.72, 0.24, 0.15, 0.99) forwards;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes bgslideout {
  0% {
    clip-path: circle(100% at 50% 0%);
    visibility: visible;
  }
  100% {
    clip-path: circle(80% at 50% -160%);
    visibility: hidden;
  }
}

.wrap {
  width: 100%;
  height: auto;
}

/* Contents Top page */
.contents_top {
  text-align: center;
  position: relative;
}

.contents_top .top_img {
  /* width: 100%; */
  height: 100vh;
  transform: translateY(0%);
  /* opacity: 0; */
}
.contents_top .top_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contents_top .scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}
.contents_top .scroll .line {
  position: relative;
  width: 2px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  overflow: hidden;
}

.contents_top .scroll .line .scroll_bg {
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 1);
  animation: scroll 2.5s ease-in-out infinite;
}
@keyframes scroll {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.contents_top .scroll .scroll_text p {
  color: #fff;
}

/* @keyframes animate01 {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 27%;
  }
}

@keyframes animate02 {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate03 {
  0% {
    transform: translateY(-1%);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(-1%);
  }
}

@keyframes animate04 {
  0% {
    opacity: 0;
    left: 68vw;
  }
  100% {
    opacity: 1;
    left: 54vw;
  }
} */

/* contents main page media query style */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 690px) {
}

/* contents_2nd page style code */
.contents_2nd {
  width: 100%;
  padding: 5vw;
}

.contents_2nd .position {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 3vw 0;
  /* transform: translateX(-10%); */
}

.contents_2nd .position .position_img {
  width: 25vw;
  height: 30vw;
  position: relative;
  z-index: 1;
}

.contents_2nd .position .position_img .img_box {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  overflow: hidden;
}

.contents_2nd .position .position_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.contents_2nd .position .position_img img:hover {
  transform: scale(1.2);
}

.contents_2nd .position .position_img .position_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3%;
  left: -4%;
  border: 1px solid #c2925f;
  z-index: -1;
}

.contents_2nd .position .positiona_desc {
  padding: 0 2vw;
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 1vw;
}

.contents_2nd .position .positiona_desc p {
  margin: 1vw 0;
  letter-spacing: -0.5px;
  line-height: 1.8vw;
  color: #704b24;
}

.contents_2nd .position .positiona_desc .vr_enter {
  display: inline-block;
}

.contents_2nd .position .positiona_desc .vr_enter a {
  padding: 0.3vw 0.8vw;
  border: 1px solid #c2925f;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  color: #c2925f;
  transition: all 0.4s;
}

.contents_2nd .position .positiona_desc .vr_enter a:hover {
  background: #c2925f;
  color: #fff;
}

.contents_2nd .exterior {
  flex-direction: row-reverse;
}

.contents_2nd .exterior .position_bg {
  top: 3% !important;
  left: 4% !important;
}

.contents_2nd .exterior .positiona_desc {
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .contents_2nd .position .position_img {
    width: 30vw;
    height: 40vw;
  }
  .contents_2nd .position .positiona_desc p {
    margin: 2vw 0;
    line-height: 20px;
  }
}

/* contents_3rd style code */
.contents_3rd {
  width: 100%;
  position: relative;
}

.contents_3rd .bg {
  width: 100%;
  height: 40vw;
  overflow: hidden;
  position: relative;
  background: url(../img/04.jpg) top no-repeat;
  background-attachment: fixed;
}

.contents_3rd .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.contents_3rd .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.contents_3rd .desc .title {
  font-size: 1.8vw;
  font-weight: 600;
}

.contents_3rd .desc .sub {
  display: block;
  font-weight: 200;
  padding: 1.5vw 0;
  line-height: 25px;
  font-size: 1vw;
}

@media screen and (max-width: 480px) {
  .contents_3rd .desc .sub {
    line-height: 18px;
  }
}

/* main banner slide style code */
.main_banner {
  opacity: 1;
  width: 100%;
  height: 100vh;
  display: none;
}

.main_banner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .swiper-slide-active img {
  animation: zoomout 3s ease-in-out forwards;
} */

/* @keyframes zoomout {
  0% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.swiper-button-prev,
.swiper-button-next {
  width: 20%;
  height: 100%;
  top: 0;
  margin-top: auto;
  justify-content: flex-start;
}

.swiper-button-prev {
  transition: all 0.4s;
}

.swiper-button-prev:hover {
  transition: all 0.4s;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(121, 58, 9, 0) 78%,
    rgba(255, 149, 0, 0) 100%
  );
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-next {
  justify-content: flex-end;
  transition: all 0.4s;
}

.swiper-button-next:hover {
  transition: all 0.4s;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(121, 58, 9, 0) 78%,
    rgba(255, 149, 0, 0) 100%
  );
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
}

.inner_cont {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

.inner_cont p {
  font-size: 1.2vw;
  width: 70%;
  text-align: center;
  margin: auto;
}

.inner_cont .swiper-scrollbar {
  position: relative;
  z-index: 50;
  height: 3px;
  width: 150px;
  margin: 3vw auto;
  /* transform: translate(-50%, -50%); */
}
.inner_cont .swiper-scrollbar::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 100%;
  background: #fff;
}

.swiper-slide-active .inner_cont .swiper-scrollbar::after {
  animation: slide 3s ease-in-out forwards;
}

@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* .popup {
  animation: popup 2s ease-in-out forwards;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */

@media screen and (max-width: 1024px) {
  .main_banner .slick-slide {
    height: 100vh;
  }
  .main_banner .slick-slide img {
    height: 100%;
    width: auto;
    max-width: unset;
  }
}
@media screen and (max-width: 690px) {
  .main_banner {
    width: 90vw;
    height: 50vw;
  }
  .contents_3rd .desc {
    width: 80%;
  }
  .inner_cont p {
    width: 90%;
  }
}

/* footer style */
footer {
  margin-top: 5vw;
}

.footer_bg {
  width: 100%;
  /* height: 100px; */
  background: #c2925f;
  padding: 4.5vw 0;
}

.footer_bg .footer_img {
  width: 15vw;
  margin: auto;
}

.footer_bg .footer_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_bg .footer_desc {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_bg .footer_desc p {
  padding-top: 30px;
  font-size: 0.625vw;
  color: #fff9f3;
}

/* 내부투어 style code */

.intro_video {
  width: 100%;
  position: relative;
}

.main_video {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  /* background: url(../assets/video/intro_thumbnail.jpg) no-repeat 50% 50%;
  background-size: cover; */
}

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  visibility: hidden;
}

.video_bg a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 100%;
  opacity: 0.6;
}

.video_bg a span {
  width: 100%;
  border-radius: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  color: #fff;
  font-weight: 600;
}

.video_bg a:hover {
  opacity: 1;
}

.intro_video:hover .video_bg {
  visibility: visible;
}

.contents {
  width: auto;
}

.contents .main_bg {
  height: 100vh;
}

.contents .main_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour .container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
}

.tour .container .contents {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* width: 844px; */
  text-align: left;
  margin: auto;
  padding-top: 8vw;
  display: inline-block;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  z-index: 300;
}

/* @media screen and (max-height: 1080px) {
  .tour .container .contents {
    top: 100px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
} */

@media screen and (max-width: 1279px) {
  .tour .container {
    padding-bottom: 1%;
  }
  .tour .container .contents {
    position: static;
    -webkit-transform: none;
    transform: none;
    margin: 90px auto 40px;
  }
}

@media screen and (max-width: 999px) {
  .tour .container {
    overflow-y: visible;
    height: auto;
  }
  .tour .container#app {
    height: 100%;
  }
  .tour .container .contents {
    position: static;
    -webkit-transform: none;
    transform: none;
    min-width: 0;
    width: auto;
    max-width: 400px;
    margin: 90px auto 40px;
    padding: 0 24px;
  }
}

.tour .main .main_cont {
  margin-top: 60px;
}

.tour .main .main_cont:first-child {
  margin-top: 0;
}

.tour .main .title {
  position: relative;
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -1.15px;
  line-height: 1.47;
}

.tour .main .title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background: #515151;
  content: "";
}

.tour .main .desc {
  margin-top: 16px;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 1.5;
}

.tour .main .ib_wrap {
  margin-top: 40px;
}

.tour .main .ib_wrap > .ib_item {
  width: 186px !important;
  height: 186px;
  margin-right: 32px;
  margin-left: 0 !important;
  margin-bottom: 28px;
}

.tour .main .ib_wrap > .ib_item:nth-child(4n) {
  margin-right: 0;
}

.tour .main .ib_item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: -2px;
  text-align: center;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  overflow: hidden;
}

.tour .main .ib_item a:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  content: "";
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.tour .main .ib_item a .ab_vert {
  left: 0;
  width: 100%;
}

.tour .main .ib_item a:hover {
  border-color: #1f4975;
}

.tour .main .ib_item a:hover:after {
  opacity: 1;
}

.tour .main .ib_item a:hover .ab_vert {
  color: transparent;
}

.tour .main .ib_item a:focus {
  border-color: #1f4975;
}

.tour .main .ib_item a:focus:after {
  opacity: 1;
}

.tour .main .ib_item a:focus .ab_vert {
  color: transparent;
}

.tour .main .item_A1 a:after {
  background-image: url(../img/thumb/A1a.jpg);
}

.tour .main .item_C2 a:after {
  background-image: url(../img/thumb/C2.jpg);
}

.tour .main .item_D a:after {
  background-image: url(../img/thumb/D.jpg);
}

.tour .main .item_K a:after {
  background-image: url(../img/thumb/K.jpg);
}

.tour .main .item_B2F a:after {
  background-image: url(../img/thumb/B2F.jpg);
}

.tour .main .item_B1F a:after {
  background-image: url(../img/thumb/B1F.jpg);
}

.tour .main .item_1F a:after {
  background-image: url(../img/thumb/1F.jpg);
}

.tour .main .item_Roof a:after {
  background-image: url(../img/thumb/Roof.jpg);
}

@media screen and (max-width: 999px) {
  .tour .main .desc {
    font-size: 1.5rem;
  }
  .tour .main .ib_wrap {
    margin-top: 30px;
    text-align: center;
  }
  .tour .main .ib_wrap > .ib_item {
    width: 100% !important;
    height: 134px;
    margin: 14px auto 0 !important;
  }
  .tour .main .ib_wrap > .ib_item:first-child {
    margin-top: 0;
  }
  .tour .main .ib_item a {
    font-size: 2.8rem;
  }
  .tour .main .ib_item a:after {
    opacity: 1;
    width: 40%;
    background-position: 0 50%;
    background-size: contain;
  }
  .tour .main .ib_item a .ab_vert {
    padding-left: 45%;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .tour .main .ib_item a:hover .ab_vert {
    color: #fff;
  }
  .tour .main .ib_item a:focus .ab_vert {
    color: #fff;
  }
  .tour .main .item_exterior a:after {
    background-position: 50%;
  }
  .tour .main .item_thumb a:after {
    background-size: cover;
  }
}

@media screen and (max-width: 680px) {
  .tour .main {
    margin-bottom: 120px;
  }
  .tour .main .ib_item a {
    font-size: 2.8rem;
  }
}
