
.wrap_scroll { 
    overflow: overlay;
    height:100vh;
}
.scroll { 
    width: 1280px !important;
    overflow: hidden;

}


.wrap_intro .box_text .logo_brand { 
    width: 50vw;
}















    
  