ody.fixed {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  touch-action: none;
}
.btn_menu {
  margin-left: 12px;
  width: 50px;
  height: 50px;
  background: linear-gradient(147deg, #302e42 12%, #0a090d 112%);
  border-radius: 100%;
}

.btn_menu i {
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px auto;
  border-radius: 1.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.22);
}

.btn_menu.is-active {
  z-index: 2000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

/* ====================================================
btn_close animation  type* 클래스 명에 따라 사용 가능 
==================================================== */

/* type1 ==================================== */
.btn_menu.type1.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn_menu.type1.is-active i:nth-of-type(2) {
  width: 0px;
}

.btn_menu.type1.is-active i:nth-of-type(1),
.btn_menu.type1.is-active i:nth-of-type(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.btn_menu.type1.is-active i:nth-of-type(1) {
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  -o-transform: translateY(9px);
  transform: translateY(9px);
}

.btn_menu.type1.is-active i:nth-of-type(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* type2 ==================================== */

.btn_menu.type2.is-active i:nth-of-type(1) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.btn_menu.type2.is-active i:nth-of-type(3) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* type3 ==================================== */

.btn_menu.type3.is-active i:nth-of-type(1) {
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
  transform: translateY(12px);
}

.btn_menu.type3.is-active i:nth-of-type(3) {
  -webkit-transform: translateY(-11px);
  -ms-transform: translateY(-11px);
  -o-transform: translateY(-11px);
  transform: translateY(-11px);
}

/* type4 ==================================== */

.btn_menu.type4.is-active i:nth-of-type(2) {
  opacity: 0;
}

.btn_menu.type4.is-active i:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.btn_menu.type4.is-active i:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.bg_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg_absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* 모달 메뉴  */
.wrap_modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.wrap_modal.active {
  display: block;
}

.list_menu {
  display: flex;
  align-items: center;
  height: 100vh;
}
.list_menu > li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  box-sizing: border-box;
}
.list_menu > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.list_menu > li.active {
  background: rgba(255, 255, 255, 0.15);
}
.list_menu > li > a {
  display: block;
  width: 100%;
  font-size: 16px;
}
.list_menu > li > a:before {
  content: "";
  display: block;
  margin-bottom: 20px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-image: url(../img/logo_main_w.png);
}

.list_menu > li.hanho > a:before {
  background-image: url(../img/logo_HHbrand_w.png);
}

.list_menu > li.gravity > a:before {
  background-image: url(../img/logo_gravity_w.png);
}

.list_menu > li.botanik > a:before {
  background-image: url(../img/logo_botanik_w.png);
}

.list_menu > li.hillstate > a:before {
  background-image: url(../img/logo_hillstate_w.png);
}

.list_menu > li > div {
  display: none;
  margin-top: 20px;
}
.list_menu > li.active > div {
  display: block;
}
.list_menu > li > div a {
  display: block;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}
.list_menu > li > div a:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  color: #fff;
}
.list_menu > li > div > ul > li {
  margin-top: 20px;
  font-size: 18px;
}
.item_depth3 > a span {
  vertical-align: middle;
}
.item_depth3 > a.active {
  color: #fff;
}
.item_depth3 > a:after {
  content: "\25BC";
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  font-size: 0.6em;
  transition: all 0.3s;
}
.item_depth3 > a.active:after {
  transform: rotate(180deg);
}
.item_depth3 > ul {
  margin-top: 10px;
  font-size: 15px;
  opacity: 0.8;
  display: none;
}
.item_depth3 > ul > li ~ li {
  padding-top: 5px;
}

/* ==========================================
  media query 
  
  ==> 브래이크포인트 디폴트는 olim_general.css 를 따름
  ==========================================*/
@media screen and (max-width: 1024px) {
  .list_menu {
    padding: 20px 0;
    overflow: overlay;
    box-sizing: border-box;
  }
  .list_menu {
    flex-direction: column;
  }
  .list_menu > li {
    padding: 20px 0;
    width: 90%;
    height: auto;
  }
  .list_menu > li ~ li {
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  .list_menu > li > a {
    padding: 5px 0;
    width: 100%;
  }
  .list_menu > li > a:before {
    height: 30px;
  }
}
