body.fixed {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  touch-action: none;
}
.btn_menu {
  margin-left: 12px;
  width: 2.3vw;
  height: 2.3vw;
  min-width: 50px;
  min-height: 50px;
  background: linear-gradient(147deg, #302e42 12%, #0a090d 112%);
  border-radius: 100%;
}

.btn_menu i {
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px auto;
  border-radius: 1.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.22);
}

.btn_menu.is-active {
  z-index: 2000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

@media screen and (max-width: 1024px) {
  .btn_menu {
    min-width: 45px;
    min-height: 45px;
  }
}

/* ====================================================
btn_close animation  type* 클래스 명에 따라 사용 가능 
==================================================== */

/* type1 ==================================== */
.btn_menu.type1.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn_menu.type1.is-active i:nth-of-type(2) {
  width: 0px;
}

.btn_menu.type1.is-active i:nth-of-type(1),
.btn_menu.type1.is-active i:nth-of-type(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.btn_menu.type1.is-active i:nth-of-type(1) {
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  -o-transform: translateY(9px);
  transform: translateY(9px);
}

.btn_menu.type1.is-active i:nth-of-type(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* type2 ==================================== */

.btn_menu.type2.is-active i:nth-of-type(1) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.btn_menu.type2.is-active i:nth-of-type(3) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* type3 ==================================== */

.btn_menu.type3.is-active i:nth-of-type(1) {
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
  transform: translateY(12px);
}

.btn_menu.type3.is-active i:nth-of-type(3) {
  -webkit-transform: translateY(-11px);
  -ms-transform: translateY(-11px);
  -o-transform: translateY(-11px);
  transform: translateY(-11px);
}

/* type4 ==================================== */

.btn_menu.type4.is-active i:nth-of-type(2) {
  opacity: 0;
}

.btn_menu.type4.is-active i:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.btn_menu.type4.is-active i:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.wrap_modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.wrap_modal.active {
  display: block;
}

.wrap_modal > div {
  height: 100%;
}

/* .wrap_modal .slide_container { position: absolute; left: 50%; top: 50%; padding:0 5vw; transform: translate(-50%, -50%); } */
.wrap_modal .slide_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  max-height: 65vh;
}

.wrap_modal .btn_slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

.wrap_modal .btn_slide.none {
  display: none;
}

.wrap_modal .btn_slide.next {
  right: 6.5vw;
  background-position: right center;
  background-image: url(../img/ico_arr_right.png);
}

.wrap_modal .btn_slide.prev {
  left: 6.5vw;
  background-position: left center;
  background-image: url(../img/ico_arr_left.png);
}

.wrap_modal .slide_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
}

.wrap_modal .slide_wrapper > li {
  margin-right: 1.4%;
  width: 23.95%;
  height: 50vh;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.wrap_modal .slide_wrapper > li.active {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.wrap_modal .slide_wrapper > li:nth-child(3) div:hover {
  background: rgba(255,255,255,.1);
}
.wrap_modal .slide_wrapper > li:nth-child(3) div span:nth-child(2) {
  display: none;
}
.wrap_modal .slide_wrapper > li:nth-child(3) div:hover span:nth-child(1) {
  display: none;
}
.wrap_modal .slide_wrapper > li:nth-child(3) div:hover span:nth-child(2) {
  display: block;
}


.wrap_modal .slide_wrapper > li > div {
  position: relative;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrap_modal .slide_wrapper > li > div > p:before,
.wrap_modal .slide_wrapper > li.intro_page > div > a > p:before {
  content: "";
  display: block;
  margin-bottom: 12%;
  height: 65px;
  background-image: url(../img/ico-reay-to-open-w.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.wrap_modal .slide_wrapper > li.broadcast > div > p:before {
  background-image: url(../img/ico-brodcast-w.png);
}

.wrap_modal .slide_wrapper > li.media > div > p:before {
  background-image: url(../img/ico-magazine-w.png);
}

.wrap_modal .slide_wrapper > li.intro_page > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.wrap_modal .slide_wrapper > li.intro_page > div > a > p:before {
  background-image: url(../img/ico-play-w.png);
}

.wrap_modal .slide_wrapper > li.network > div > p:before {
  background-image: url(../img/ico-ipnetwork-w.png);
}

.wrap_modal .slide_wrapper > li.sports > div > p:before {
  background-image: url(../img/ico-sports-w.png);
}

.wrap_modal .slide_wrapper > li.travel > div > p:before {
  background-image: url(../img/ico-travel-w.png);
}

.wrap_modal .slide_wrapper > li > div > p {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.wrap_modal .slide_wrapper > li ul {
  max-height: 0%;
  margin: 0 auto;
  width: 90%;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-transform: capitalize;
  overflow: auto;
  transition: max-height .5s;
}

.wrap_modal .slide_wrapper > li > div:hover .menu_2dep {
  /* display: block; */
  max-height: 30%;
}

.wrap_modal .slide_wrapper > li > div .menu_2dep > li {
  margin-top: 10px;
}

/* .wrap_modal .slide_wrapper > li > div .menu_2dep > li:nth-child(1) {
  margin-top: 20px;
} */

/* .wrap_modal .slide_wrapper > li ul::-webkit-scrollbar {
  padding: 3px;
  width: 5px;
}
.wrap_modal .slide_wrapper > li ul::-webkit-scrollbar-track {
  width: 5px;
}
.wrap_modal .slide_wrapper > li ul::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgba(255, 255, 255, 0.3);
} */

.wrap_modal .slide_wrapper > li ul > li ~ li {
  padding-top: 5px;
}

.wrap_modal .slide_wrapper > li ul > li a {
  display: inline-block;
  /* padding: 8px 10px; */
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.wrap_modal .slide_wrapper > li ul > li a:hover {
  opacity: 1;
  text-shadow: 1px 1px 3px #000;
}


/* mobile menu style code */
.wrap_modal .slide_wrapper > li.open .menu_2dep{
  display: block;
  margin-top: 14px;
  max-height: 50%;
}


@media screen and (max-width: 1200px) {
  .wrap_modal .slide_wrapper > li > div {
    font-size: 20px;
  }
  .wrap_modal .slide_wrapper > li > div > p:before {
    height: 40px;
  }

  .wrap_modal .slide_wrapper > li.intro_page > div > a > p:before {
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .btn_menu {
    min-width: 36px;
    min-height: 36px;
  }
  .btn_menu i {
    width: 18px;
    margin: 4px auto
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .wrap_modal .slide_container {
    padding-top: 45px;
  }
}

@media screen and (max-width: 1024px) {
  /* ::-webkit-scrollbar {
    width: 5px;
  }
  .btn_menu i {
    margin: 4px auto;
  } */

  /* type4 ==================================== */

  .btn_menu.type4.is-active i:nth-of-type(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }

  .btn_menu.type4.is-active i:nth-of-type(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }

  .wrap_modal .slide_container {
    padding-right: 1vw;
    width: 80vw !important;
    overflow-y: scroll;
    overflow-x: visible;
  }

  .wrap_modal .slide_wrapper {
    flex-direction: column;
    transform: none !important;
  }

  .wrap_modal .slide_wrapper > li {
    border-width: 1px;
    width: 100% !important;
    margin: 0 0 2vh;
    margin-right: 0 !important;
    height: auto;
  }

  .wrap_modal .slide_wrapper > li > div {
    font-size: 18px;
  }

  .wrap_modal .slide_wrapper > li > div,
  .wrap_modal .slide_wrapper > li.intro_page > div > a {
    padding: 18px 0 18px 20px;
    justify-content: flex-start;
    letter-spacing: -0.01em;
    text-align: left;
    font-size: 16px;
  }

  .wrap_modal .slide_wrapper > li.intro_page > div > a {
    flex-direction: row;
  }

  .wrap_modal .slide_wrapper > li.intro_page > div {
    padding: 0;
  }

  .wrap_modal .slide_wrapper > li > div > p,
  .wrap_modal .slide_wrapper > li.intro_page > div a p {
    display: flex;
    align-items: center;
  }

  .wrap_modal .slide_wrapper > li > div > p:before,
  .wrap_modal .slide_wrapper > li.intro_page > div a p:before {
    height: 25px;
    width: 45px;
    margin: 0;
    background-position: left center;
  }

  .wrap_modal .slide_wrapper > li > div > p {
    padding: 0;
  }

  .wrap_modal .slide_wrapper > li ul {
    display: none;
    /* max-height: none; */
    max-height: 0%;
    font-size: 16px;
    margin: 0 0 0 44px;
    transition: none;
    overflow: hidden;
  }

  .wrap_modal .slide_wrapper > li ul > li a {
    display: block;
  }

  .wrap_modal .slide_wrapper > li.open .menu_2dep {
    max-height: 100% ;  
  }

  .wrap_modal .btn_slide {
    display: none;
  }
}

@media screen and (max-height: 768px) {
  .wrap_modal .slide_container {
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    max-height: 60vh!important;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 690px) {
  .wrap_modal .slide_container {
    max-width: 60vw;
  }
}

@media screen and (max-width: 480px) {
  .btn_menu.type4.is-active i:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    -o-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }

  .btn_menu.type4.is-active i:nth-of-type(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }

  .wrap_modal .slide_container {
    max-width: 80vw;
    top: 55%;
  }
}




