
@import '../../components/sub_nav';
@import 'company';
@import 'video';
@import 'form';

.contents{
  margin:66px 0 0;
}

.schedule_wrap{
	text-align:center;
	
	img{width:100%;max-width:1600px;}
}


.cont_3d{
  padding:40px 20px;
  width:100%;
  height:90%;
  
  iframe{
    width:100%;
    height:100%;
    border:1px solid #bbb;
	}
}