.bg_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg_absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.bg_main {
  background: url(../img/intro_randing.jpg) no-repeat center / cover;
}


.modal_menu {
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}