  /* ====================================================
웹 호환성 이슈 문제 해결을 위한 코드 모음
==================================================== */
  .color_blue {
      color: blue;
  }

  /* flex ==================================== */

  .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }

  .flex1 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex-grow: 1;
  }

  .flex.row {
      -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
      flex-direction: row;
  }

  .flex.column {
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .flex.row.reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  }

  .flex.column.reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  }

  .flex.nowrap {
      -webkit-box-lines: single;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }

  /* 안드로이드 2.1~4.3 아래 속성 지원 안 함. */
  .flex.flex-wrap {
      -webkit-box-lines: multiple;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }

  /* 안드로이드 2.1~4.3 아래 속성 지원 안 함. */
  /* .flex.order example */
  .flex.order1 {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 1;
      order: 1;
  }

  .flex.justify-start {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }

  .flex.justify-end {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
  }

  .flex.justify-center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }

  .flex.between {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }

  .flex.align-start {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }

  .flex.align-end {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
  }

  .flex.align-center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }

  .flex.align-stretch {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
  }

  .flex.align-baseline {
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
  }



  /* transition ==================================== */

  .transition-basic {
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -o-transition: .3s all;
      -ms-transition: .3s all;
      transition: .3s all;
  }



  /* input type ==================================== */

  /* date */
  input[type="date"] {
      outline: 0;
  }

  .date1::-webkit-clear-button,
  .date1::-webkit-inner-spin-button {
      display: none;
  }

  .date1::-webkit-calendar-picker-indicator {
      /* 달력 아이콘 제거 (크롬, firefox, 엣지 공통) */
      background: transparent;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
  }

  .date1::before {
      content: attr(data-placeholder);
      width: 100%;
      color: #f00;
  }



  /* 필드 별 스타일 커스텀 */
  .date2::-webkit-datetime-edit-year-field {
      color: seagreen;
  }

  .date2::-webkit-datetime-edit-month-field {
      color: salmon;
  }

  .date2::-webkit-datetime-edit-day-field {
      color: blueviolet;
  }

  .date2::-webkit-datetime-edit-text {}

  /* placeholder custom */
  .date3 {
      width: 200px;
  }

  .date3::before {
      content: attr(data-placeholder);
      width: 100%;
      color: #f00;
  }

  .date3.noempty::before {}

  .date4 { position: relative; width:200px; padding: 0;}

  .date4::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: auto;
    color: transparent;
    background: transparent;
    border: 1px solid red;
    z-index: 100;
  }



  /* :valid: 규칙에 맞는 값을 입력한 경우 */
  /* :invalid: 규칙에 맞지 않은 값을 입력한 경우 */
  input[type="password"]:valid {
      border: 1px solid #666;
  }

  input[type="password"]:invalid {
      border: 1px solid #f00;
  }


  /* remove input style */

  /* 포커스시 생기는 테두리 제거 */
  input:not[type="date"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }

  input:focus {
      outline: 0;
  }

  textarea:focus {
      outline: 0;
  }




  /* placeholder ==================================== */

  .placeholder::placeholder {}

  .placeholder::-webkit-input-placeholder {
      /* WebKit browsers */
  }

  .placeholder:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
  }

  .placeholder::-moz-placeholder {
      /* Mozilla Firefox 19+ */
  }

  .placeholder:-ms-input-placeholder {
      /* Internet Explorer 10+ */
  }

  /* remove select box design ==================================== */
  select {

      border-radius: 0;
      /* 아이폰 사파리 보더 없애기 */
      -webkit-appearance: none;
      /* 화살표 없애기 for chrome*/
      -moz-appearance: none;
      /* 화살표 없애기 for firefox*/
      appearance: none;
      /* 화살표 없애기 공통*/
  }

  select::-ms-expand {
      display: none
          /* 화살표 없애기 for IE10, 11*/
  }